<div class="row-fluid">
  <div class="span3">
    <%= render "tips/shared/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>编辑活动信息 <small></small></h3>
    </div>

    <%= render 'form' %>

  </div>
</div>