<% content_for :title do %>
  账号验证
<% end %>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="card">
    <ul class="table-view table-view-block">
      <li class="table-view-cell input-row"><%= f.input :confirmation_token, autofocus: true %></li>
    </ul>
  </div>
  <div class="card-no-border">
    <%= f.button :submit, "提交验证码", class: 'btn-positive btn-block' %>
  </div>
<% end %>
