<% content_for :title do %>
  账号验证
<% end %>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell input-row"><%= f.input :mobile, autofocus: true %></li>
    </ul>
  </div>
  <div class="card-no-border">
    <%= f.button :submit, "重新发送验证码", class: 'btn-positive btn-block' %>
  </div>
<% end %>
