<% content_for :title do %>
  消费记录
<% end %>

<% if @orders.empty? %>
  <%= render 'share/alert', message: '该项目还没有任何消费记录！' %>
<% else %>
  <div class="card">
    <ul class="table-view">
      <% @orders.each do |order| %>
        <li class="table-view-cell">
          <%= order.user.username %>
          <p><%= order.title %></p>
          <p>消费金额：<%= order.cost %>元</p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
