<% content_for :title do %>
  消费记录
<% end %>

<div class="card">
  <ul class="table-view">
    <% @orders.each do |order| %>
      <li class="table-view-cell">
        <%= order.user.username %>
        <p><%= order.source.title %></p>
        <p>消费金额：<%= order.cost %>元</p>
      </li>
    <% end %>
  </ul>
</div>
