<ul class="nav nav-list sidenav affix-top">
  <li class="active"><a href="<%= setting_path %>"><i class="icon-chevron-right"></i> 基本信息</a></li>
</ul>
<ul class="nav nav-list sidenav">
  <li>
    <span>商家二维码：<img src="<%= rqrcode_setting_path(format: :png) %>"></span>
  </li>
</ul>