<div class="card">
  <ul class="table-view table-view-block">
    <li class="table-view-cell">地址：<%= @dealer.address %></li>
    <li class="table-view-cell redcolor">营业时间：<%= @dealer.open_during %></li>
<!--     <li class="table-view-cell">服务项目</li>
    <li class="table-view-cell orangecolor"><%#= link_to "会员卡", weixin_dealer_vip_cards_path(@dealer), class: "navigate-right link" %></li>
    <li class="table-view-cell orangecolor"><%#= link_to "汽车美容", weixin_dealer_cleanings_path(@dealer), class: "navigate-right link" %></li>
    <li class="table-view-cell orangecolor"><%#= link_to "预约服务", weixin_dealer_mending_path(@dealer), class: "navigate-right link" %></li>
    <li class="table-view-cell">促销活动</li>
    <li class="table-view-cell orangecolor"><%#= link_to "近期团购", weixin_dealer_bulk_purchasings_path(@dealer), class: "navigate-right link" %></li>
    <li class="table-view-cell orangecolor"><%#= link_to "近期活动", weixin_dealer_activities_path(@dealer), class: "navigate-right link" %></li> -->
  </ul>
</div>