<div class="card">
  <ul class="table-view table-view-block">
    <li class="table-view-cell">地址：<%= @distributor.address %></li>
    <li class="table-view-cell">联系电话：<%= @distributor.phone %></li>
  </ul>
</div>