<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">堂友消费记录</li>
    <% @orders.each do |order| %>
      <li class="table-view-cell">
        <%= order.user.username %>
        <p><%= order.source.title %></p>
      </li>
    <% end %>
    <% orders_path = "weixin_dealer_#{@source.class.model_name.element}_orders_path" %>
    <li class="table-view-cell orangecolor"><%= link_to "查看全部记录", send(orders_path, @dealer, @source), class: "navigate-right link" %></li>
  </ul>
</div>
