<div class="row-fluid">
  <div class="span3">
    <%= render "tips/shared/sidenav/dealer" %>
  </div>
  
  <div class="span8">
    <div class="page-header">
      <h3>保养专修订单列表 <small></small></h3>
    </div>



  </div>
</div>