<hr>

<footer class="footer">
  <p class="links">
    <%= link_to "商家合作", cooperations_dashboard_path %> |
    <%= link_to "关于我们", about_us_dashboard_path %> |
    <%= link_to "帮助", help_dashboard_path %>
  </p>
  <p class="copyright">
    Copyright © 2013 汽车堂
    &nbsp;&nbsp;&nbsp;&nbsp;
    ICP备案号：<a href="http://www.miitbeian.gov.cn">豫ICP备14023981号-2</a>
  </p>
</footer>
