<hr>

<footer class="footer">
  <p class="links">
    <a href="#">服务商合作</a> |
    <a href="#">关于我们</a> |
    <a href="#">加入我们</a> |
    <a href="#">联系我们</a>
  </p>
  <p class="copyright">
    Copyright &copy; 2013 汽车堂. All Rights Reserved.
  </p>
</footer>