<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>曝光台 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有收到任何曝光信息！' if @exposures.empty? %>
    
    <%= render "bcst/share/comments", comments: @exposures %>

  </div>

</div>