<ul class="nav">
  <li class="active"><a href="#">首页</a></li>
  <li><a href="#">广告位管理</a></li>
  <li><a href="#">服务商管理</a></li>
  <li><a href="#">服务商项目管理</a></li>
  <li><a href="#">车主管理</a></li>
  <li><a href="#">管理员管理</a></li>
</ul>