<div class="row-fluid">
  <div class="span3">
    <%= render "business/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>在线教程广告位管理 <small><a href="<%= new_business_advert_path(advert_type: 5) %>">添加</a></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有添加任何在线教程广告！' if @adverts.empty? %>

    <%= render 'business/adverts/list' %>

  </div>
</div>