<% content_for :title do %>
  手机充值卡
<% end %>


<div class="card">
  <table class="table-view">
    <tr>
      <td>积分:<%=@result["Score"]%></td>
      <td>卡名称:<%=@result["Cardclassifyname"]%></td>

      
    </tr>
    
  </table>
</div>