<div class="row-fluid">
  <div class="span3">
    <%= render "statistic/share/sidenav/admin" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>系统数据 <small></small></h3>
    </div>

    <%= render "admin" %>

  </div>

</div>