<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/provider" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>编辑节目板块信息 <small></small></h3>
    </div>

    <%= render 'form' %>

  </div>
</div>