<div class="pull-right user-actions">
  <% if account_signed_in? %>
    <%= link_to "退出", destroy_account_session_path, data: { method: :delete } %>
  <% else %>
    <%= link_to "登陆", new_account_session_path %> | <%= link_to "注册", new_account_registration_path %>
  <% end %>
</div>