<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>管理广告模板 <small></small></h3>
    </div>

    <%= simple_form_for(@user, url: tips_ad_template_path, html: { method: :put, class: 'no-margin' }) do |f| %>
      <%= f.association :ad_templates, as: :check_boxes, label: false, label_method: lambda { |ad_template|
          content_tag(:div, image_tag(ad_template.avatar.url(:medium)), class: 'thumbnail') + content_tag(:span, "#{ad_template.title}（#{ad_template.product}）")
        }, item_wrapper_class: 'span3', wrapper_class: 'thumbnails row' %>
      
      <%= f.button :submit, "更新广告模板", class: 'btn-submit' %>
    <% end %>

  </div>
</div>
