<div class="row-fluid">
  <div class="span3">
    <%= render "category/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>产品品牌管理 <small><%#= link_to "添加", new_category_product_path %></small></h3>
    </div>

    <%#= render 'category/share/list', enums: @products %>

  </div>
</div>