<% initialize_weixin_account @user %>

<div class="row-fluid">
  <div class="span3">
    <%= render "settings/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>微信订阅号管理 <small></small></h3>
    </div>
    <p>恭喜您完成全部微信订阅号关联流程！ </p>
  </div>

</div>
