<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/provider" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>路况信息 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有收到任何路况信息！' if @comments.empty? %>

    <%= render "bcst/share/comments" %>

  </div>

</div>