<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/provider" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>路况信息 <small></small></h3>

      <%= render "bcst/share/comments" %>
    </div>

  </div>

</div>