<div class="row-fluid">
  <div class="span3">
         <%= render "/accounts/share/sidenav/admin" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>编辑地区车友会 <small></small></h3>
    </div>

    <%= render 'form' %>

  </div>
</div>