<div class="row-fluid">
  <div class="span3">
       <%= render "/accounts/share/sidenav/admin" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>地区车友会管理 <small><%= link_to "添加", new_cheyouhui_region_path %></small></h3>
    </div>

    <%= render '/cheyouhui/regions/list', enums: @regions %>

  </div>
</div>