<div class="row-fluid">
  <div class="span3">
    <%= render "accounts/share/sidenav/admin" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>经销商管理 <small><%#= link_to "添加", new_accounts_admin_path %></small></h3>
    </div>


  </div>
</div>