<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>编辑主持人信息 <small></small></h3>
    </div>

    <%= render 'form' %>

  </div>
</div>