<% content_for :title do %>
  订单查询
<% end %>
<style type="text/css">

</style>
<div class="card">
  <ul class="table-view table-view-block">
    <li class="table-view-cell">
    <div class="titleimg" >
      <%= image_tag "/weixin/orderRecord.png"%>
    </div>
  </li>
 <%if  @dealer.try(:dealer_type)=="4S店"%>
  <li class="table-view-cell text-center "><a href="/weixin/dealers/<%=@dealer.id%>/test_drivings">试驾订单</a></li>
  <%end%>
  <li class="table-view-cell text-center "><a href="/weixin/dealers/<%=@dealer.id%>/current_user/mending/orders">预定订单</a></li>
  <li class="table-view-cell text-center "><a href="/weixin/dealers/<%=@dealer.id%>/current_user/bulk_purchasing/orders">团购订单</a></li>
  
   
  </ul>
</div>
@汽车堂提供技术支持