<h3>你好，<%= @current_user.username %> <small>（<%= @current_user.mobile %>）</small></h3>

<div class="jumbotron"></div>

<!-- Example row of columns -->
<div class="row-fluid marketing">
  <div class="span4">
    <i class="icon-magic pull-left icon-5x"></i>
    <h4>广告位管理</h4>
    <p class="muted">Donec id elit non mi porta gravida at eget metus. </p>
  </div>
  <div class="span4">
    <i class="icon-truck pull-left icon-5x"></i>
    <h4>服务商管理</h4>
    <p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
  </div>
  <div class="span4">
    <i class="icon-tasks pull-left icon-5x"></i>
    <h4>服务商项目管理</h4>
    <p class="muted">Donec sed odio dui.</p>
  </div>
</div>
<div class="row-fluid marketing">
  <div class="span4">
    <i class="icon-user pull-left icon-5x"></i>
    <h4>车主管理</h4>
    <p class="muted">Tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
  </div>
  <div class="span4">
    <i class="icon-cog pull-left icon-5x"></i>
    <h4>管理员管理</h4>
    <p class="muted">Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
</div>
