<h3>你好，<%= @current_user.username %> <small>（<%= @current_user.mobile %>）</small></h3>

<div class="row-fluid">
  <div class="span4 pull-right">
    <div class="well">
      <h3>系统公告</h3>
      <p class="indent">如果你在使用过程中有任何疑问或者建议，请加我们的公众账号进行咨询反馈：</p>
      <p class="indent"><strong>汽车堂</strong></p>
    </div>
  </div>

  <div class="span8">

    <div class="jumbotron"></div>

    <!-- Example row of columns -->
    <div class="row-fluid marketing">
      <div class="span6">
        <i class="icon-book pull-left icon-5x"></i>
        <h4>业务管理</h4>
        <p class="muted">业务，另辟蹊径。 </p>
      </div>
      <div class="span6">
        <i class="icon-tag pull-left icon-5x"></i>
        <h4>团购</h4>
        <p class="muted">促销，进货的优惠。 </p>
      </div>
    </div>
    <div class="row-fluid marketing">
      <div class="span6">
        <i class="icon-rocket pull-left icon-5x"></i>
        <h4>限时求购</h4>
        <p class="muted">看看，捡来的商机。 </p>
      </div>
      <div class="span6">
        <i class="icon-magic pull-left icon-5x"></i>
        <h4>经销商大全</h4>
        <p class="muted">指尖上的商家。 </p>
      </div>
    </div>
    <div class="row-fluid marketing">
      <div class="span6">
        <i class="icon-cog pull-left icon-5x"></i>
        <h4>设置</h4>
        <p class="muted">资料管理。 </p>
      </div>
    </div>
  </div>
  
</div>