<!-- Jumbotron -->
<div class="row-fluid jumbotron">
  <div class="span5">
    <%= image_tag 'dashboard-r.png' %>
  </div>
  <div class="span7">
    <h1>客户管理，我有一套！</h1>
    <!-- <p class="lead"></p> -->
    <%= link_to "免费注册", new_account_registration_path, class: "btn btn-large btn-success" %>
    <div id="auto-scroll">
      <h5 class="text-left">最新加入服务商：</h5>
      <% recent_dealers = Accounts::Dealer.last(20).reverse %>
      <div class="scroll">
        <ul class="unstyled">
          <% slice = 2 %>
          <% recent_dealers.each_slice(slice) do |dealers| %>
            <li>
              <% dealers.each do |dealer| %>
                <div class="span6">
                  <%= dealer.username %>
                </div>
              <% end %>
              <% (slice - dealers.size).times do %>
                <div class="span6"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- <hr> -->
      <!-- <p>服务商体验帐号：14012345678<br>密码：ceshi123</p> -->
    </div>
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row marketing">
  <div class="span3">
    <i class="icon-briefcase pull-left icon-5x"></i>
    <h4>经营助手</h4>
    <p class="muted">办公，随时随地。 </p>
  </div>
  <div class="span3">
    <i class="icon-tablet pull-left icon-5x"></i>
    <h4>客户端</h4>
    <p class="muted">下了，遇见恨晚。 </p>
  </div>
  <div class="span3">
    <i class="icon-user pull-left icon-5x"></i>
    <h4>客户管理</h4>
    <p class="muted">管理，独有一套。 </p>
  </div>
  <div class="span3">
    <i class="icon-book pull-left icon-5x"></i>
    <h4>业务管理</h4>
    <p class="muted">业务，另辟蹊径。 </p>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $scroll = $("#auto-scroll")
      if($scroll.find("li").length > 3) {
        setInterval(function() {
          $scroll.find("ul:first").animate({
            marginTop:"-20px"
          }, 500, function() {
            $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
          });
        }, 2000)
      }
    });
  </script>
<% end %>
