<div class="row">
  <div class="span8">
    <div class="page-header">
      <h3>公司概况</h3>
    </div>

    <p>汽车堂属于济南传越汽车用品有限公司所有，济南传越成立于2008年一直从事汽车美容产品的销售和服务，维修行业的顾问管理咨询，服务范围涉及汽车美容、快修、专修、4S，汽车堂是由传越多年经验及风投注资结晶而成；致力于为服务商和车主提供一个在线即时解决汽车服务问题、满足车主在养车、用车等需求的互动平台。</p>

    <div class="page-header">
      <h3>联系我们</h3>
    </div>

    <ul>
      <li>公司地址：济南市二环东路发展大厦10C。</li>
      <li>公司网站：www.qichetang.com</li>
      <li>欢迎免费加入：服务商经营助手；注册—商家类型选“服务商”—完成注册即可。</li>
    </ul>
  </div>

  <div class="span4">
    <div class="well">
      <h3>汽车堂</h3>
      <p>致力于建立车主与服务商之间信息沟通平台，让汽车服务商的生意不再难做！。服务范围包括汽车美容、汽车保养、汽车维修、汽车装潢等，旨在为服务商立体展示、及时跟踪项目评估，立志成为服务商的外协得力助手。同时也为车主提供更便捷、更实惠、更可靠的汽车服务。</p>
    </div>
  </div>

</div>
