<h3>你好，<%= current_base_user.username %> <small>（<%= current_base_user.mobile %>）</small></h3>

<div class="row-fluid">
  <div class="span4 pull-right">
    <div class="well">
      <h3>系统公告</h3>
      <p class="indent">如果你在使用过程中有任何疑问或者建议，请加我们的公众号进行咨询反馈：</p>
      <p class="indent"><strong>汽车堂</strong></p>
    </div>
  </div>

  <div class="span8">

    <div class="jumbotron"></div>

    <!-- Example row of columns -->
    <div class="row-fluid marketing">
      <div class="span6">
        <i class="icon-user pull-left icon-5x"></i>
        <h4>客户管理</h4>
        <p class="muted">Donec id elit non mi porta gravida at eget metus. </p>
      </div>
      <div class="span6">
        <i class="icon-book pull-left icon-5x"></i>
        <h4>业务管理</h4>
        <p class="muted">Fusce dapibus, tellus ac cursus commodo. </p>
      </div>
    </div>
    <div class="row-fluid marketing">
      <div class="span6">
        <i class="icon-magic pull-left icon-5x"></i>
        <h4>广告模板</h4>
        <p class="muted">Donec id elit non mi porta gravida at eget metus. </p>
      </div>
      <div class="span6">
        <i class="icon-rocket pull-left icon-5x"></i>
        <h4>在线教程</h4>
        <p class="muted">Fusce dapibus, tellus ac cursus commodo. </p>
      </div>
    </div>
    <div class="row-fluid marketing">
      <div class="span6">
        <i class="icon-cog pull-left icon-5x"></i>
        <h4>设置</h4>
        <p class="muted">Donec id elit non mi porta gravida at eget metus. </p>
      </div>
    </div>
  </div>
  
</div>