<div class="page-header">
  <h3>常见问题</h3>
</div>

<ul>
  <li>
    <p>Q：忘记登录密码了，怎么办？</p>
    <p>A：可以通过手机找回密码。</p>
  </li>

  <li>
    <p>Q：如何设置我的店面项目？</p>
    <p>A：您在“设置“中通过“业务模板管理”，在需要的项目模块前打钩，然后点“更新业务模块”即可。</p>
  </li>

  <li>
    <p>Q：如何发布我的店面项目？</p>
    <p>A：您在“业务管理”中按照提示操作即可。</p>
  </li>

  <li>
    <p>Q：如何让车主下载安装客户端？</p>
    <p>A：登陆后台后，在首页点“客户端下载”，进入后，根据客户的手机系统（苹果、安卓）选择不同的输入框，输入客户手机号码，点“发送到手机”。</p>
  </li>

  <li>
    <p>Q：如何启用会员卡？</p>
    <p>A：您需要两步操作：
      <ol>
        <li>客户收到信息后，点下载后自动安装，然后指导客户注册，注册完成后在“在下”页面点“扫服务商”通过扫服务商的二维码，关注我们；在我们的手机界面上购会员卡套餐。</li>
        <li>在公众平台中点“业务管理”，查看“会员卡订单”，收到客户钱款后点“启用按钮”，客户会员卡就被激活了。</li>
      </ol>
    </p>
  </li>
</ul>
