<!-- Jumbotron -->
<div class="row-fluid jumbotron">
  <div class="span5">
    <img src="http://placehold.it/400x300" />
  </div>
  <div class="span7">
    <h1>客户管理，我有一套！</h1>
    <!-- <p class="lead"></p> -->
    <%= link_to "立即注册", new_base_user_registration_path, class: "btn btn-large btn-success" %>
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid marketing">
  <div class="span4">
    <i class="icon-cloud-download pull-left icon-5x"></i>
    <h4>客户端下载</h4>
    <p class="muted">Donec id elit non mi porta gravida at eget metus. </p>
  </div>
  <div class="span4">
    <i class="icon-tablet pull-left icon-5x"></i>
    <h4>客户端管理</h4>
    <p class="muted">Vestibulum id ligula porta felis euism semper, dapibus ac facilisis in. </p>
  </div>
  <div class="span4">
    <i class="icon-book pull-left icon-5x"></i>
    <h4>业务管理</h4>
    <p class="muted">Donec sed odio dui, Cras justo odio. </p>
  </div>
</div>
