<!-- Jumbotron -->
<div class="row-fluid jumbotron">
  <div class="span5">
    <img src="http://placehold.it/400x300" />
  </div>
  <div class="span7">
    <h1>客户管理，我有一套！</h1>
    <!-- <p class="lead"></p> -->
    <%= link_to "立即注册", new_base_user_registration_path, class: "btn btn-large btn-success" %>
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">

  <div class="span4">
    <h4>客户端下载</h4>
    <p class="muted">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  <div class="span4">
    <h4>客户端管理</h4>
    <p class="muted">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 </div>
  <div class="span4">
    <h4>业务管理</h4>
    <p class="muted">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
  </div>
</div>
