<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>业务信息 <small></small></h3>
    </div>

    <%= render "#{@user_type}" %>

  </div>

</div>