<% content_for :title do %>
  找回密码
<% end %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell input-row"><%= f.input :mobile, autofocus: true %></li>
    </ul>
  </div>
  <div class="card" style="border:none">
    <%= f.button :submit, "发送验证码", class: 'btn-positive btn-block' %>
  </div>
<% end %>
