/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'bootstrap-responsive';

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;

  h1 {
    font-size: 100px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }
  
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.masthead {
  .user-actions {
    margin-top: 20px;
    margin-right: 20px;
    color: #777777;

    a {
      color: #777777;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
    }
    a:hover, a:focus {
      color: #333333;
      text-decoration: none;
    }
  }
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar{
  .navbar-inner {
    padding: 0;
  }

  .nav {
    margin: 0;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      width: 1%;
      float: none;
    }
    li a {
      font-weight: bold;
      text-align: center;
      border-left: 1px solid rgba(255,255,255,.75);
      border-right: 1px solid rgba(0,0,0,.1);
    }
    li:first-child a {
      border-left: 0;
      border-radius: 3px 0 0 3px;
    }
    li:last-child a {
      border-right: 0;
      border-radius: 0 3px 3px 0;
    }
  }
}