.titleimg {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.content-padded {
  margin: 30px 15px 15px;
}
.redcolor {
  color: #F00;
}
.orangecolor {
  color: #F71;
}
.link {
  text-align: center;
}
.time {
  text-align: right;
}

img.media-object {
  height: 90px;
  width: 120px;
}

// Table View
.table-view {
  .media-title {
    margin-bottom: 6px;
  }
}

.table-view-block {
  .table-view-cell {
    padding: 11px 35px 11px 15px;
  }
}

table.table-view {
  border-collapse: separate;
  width: 100%;
  text-align: center;

  td, th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  th {
    border-top: none;
  }
  th:first-child, td:first-child {
    border-left: none;
  }
}

// Input Row
.input-row {
  label {
    width: 45%;
  }
  input, select, textarea {
    float: right;
    width: 55%;
  }
  input {
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
  }
  select {
    height: 35px;
    margin-bottom: 0;
  }
  textarea {
    padding: 10px 15px;
  }
  label.radio {
    width: 25%;
    padding: 10px 10px;
  }
}

// Alert
.alert {
  padding: 8px 35px 8px 14px;
  margin: 10px 10px 20px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

button.close {
  display: none;
}

.btn-group {
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 10px 0;

  .btn {
    display: table-cell;
    width: 1%;
    margin-bottom: 0;
  }
}

.card-no-border {
  overflow: hidden;
  margin: 10px;
  background-color: white;

  .btn {
    margin-bottom: 0;
  }
}

.help-inline {
  color: #b94a48;
}