.titleimg {
  isplay:table-cell;
  vertical-align:middle;
  text-align:center;
}
.content-padded {
  margin: 30px 15px 15px;
}
.redcolor {
  color:#F00
}
.orangecolor {
  color:#F71
}
.link {
  text-align:center
}
.time {
  text-align:right
}
table.gridtable {
  margin:0px auto;
  text-align:center;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 2px;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 2px;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 2px;
}