<div class="nested-fields">
  <%= f.input :title %>
  <%= f.input :count %>

  <div class="control-group">
    <div class="controls">
      <%= link_to_remove_association "删除服务项目", f, class: 'btn btn-danger' %>
    </div>
  </div>
</div>