<% content_for :title do %>
  我的会员卡
<% end %>

<div class="card">
  <ul class="table-view">
    <% @vip_card_orders.each do |vip_card_order| %>
      <li class="table-view-cell media">
        <%= link_to weixin_dealer_current_user_vip_card_order_path(@dealer, vip_card_order), class: "navigate-right", data: { transition: "slide-in" } do %>
          <%= image_tag vip_card_order.source.image.url(:thumb), class: "media-object pull-left" %>
          <div class="media-body">
            <%= vip_card_order.title %>
            <p>总价：<%= vip_card_order.cost %>元</p>
          </div>
        <% end %>
    </li>
    <% end %>
  </ul>
</div>
