<% content_for :title do %>
  我的
<% end %>

<div class="card">
  <ul class="table-view">
    <li class="table-view-cell"><%= link_to "我的资料", weixin_current_user_path, class: "navigate-right" %></li>
    <li class="table-view-cell"><%= link_to "会员卡", weixin_current_user_vip_card_orders_path, class: "navigate-right" %></li>
    <li class="table-view-cell"><%= link_to "消费记录", weixin_current_user_consumption_records_path, class: "navigate-right" %></li>
  </ul>
</div>
