<% content_for :title do %>
  图册
<% end %>

<% @brand_id = params[:brand_id].to_i %>
<% @brand = Category::Brand[@brand_id] %>
<% @construction_cases = @construction_cases.where(brand_id: @brand_id) %>

<div class="card">
  <table class="table-view table-no-header table-layout-fixed">
    <tr><td class="text-left table-view-cell" colspan="3"><%= @brand %></td></tr>
    <% @construction_cases.each_slice(3) do |construction_cases| %>
      <tr>
        <% construction_cases.each do |construction_case| %>
          <td>
            <%#= link_to weixin_distributor_construction_case_path(@distributor, construction_case.brand_id), data: { transition: "slide-in" } do %>
              <%= image_tag construction_case.image.url(:medium) %>
              <%= construction_case.title %>
            <%# end %>
          </td>
          <% (3 - construction_cases.length).times do %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
