<% content_for :title do %>
  消费记录
<% end %>

<div class="card">
  <table class="table-view">
    <tr>
      <th>服务项目</th>
      <th>消费次数</th>
      <th>消费时间</th>
    </tr>
    <% @consumption_records.each do |consumption_record| %>
      <tr>
        <td><%= consumption_record.title %></td>
        <td><%= consumption_record.count %></td>
        <td><%= l consumption_record.created_at, format: :short %></td>
      </tr>
    <% end %>
  </table>
</div>